<html>
  <head>
    <script src="p5.js"></script>
   <script src="p5.sound.min.js"></script>
   <link rel="stylesheet" type="text/css" href="scatterstyle.css">
   <meta charset="utf-8">
    <title>Nice Looking Output</title>
    <style>
      body {
        background-color: #223;
        text-color: #b21807;
        font-size: 82px;
        padding-left: 200px;
        height: 800px;

      }
      #bigboy li{
        color: white;
      }

    </style>
  </head>
<script src="scattersketch.js"></script>
  <body>
      <ul>
      <!-- <li>Is Age Correlated With Sentiments About Recycling? </li> -->



        <%

        %>

        <%

        %>


      </ul>

      <!-- <form action="/feedme" method="GET">
        <input type="text" name="data">
        <input type="color" name="somecolor">

        <input type="submit" value="Eat It">
      </form> -->
      <div id="bigboy" style="margin-top: -700px;">
      <div style=" margin-top: 300px;"id="sketch-holder">
      <img src="xaxis.svg"style="width: 850px;position: relative;top: 750px;">
      <img src="yaxis.svg"style="height: 470px;position: relative; top: 580px;left: -820px;">


      </div>

        <div style="font-size: 20px;position: relative; left: 1100px; width: 250px;bottom: 450px;z-index: 0;">
        <br><br><br><br>  <p style="color: white;margin-top: -30px;font-size: 25px;"> Is Age Correlated With Recycling Sentiments? </p>
        <p style="color: white;"> Key: <br> Red = Recycling has no Effect on me <br> Yellow = Recycling makes me feel good <br>Y-Axis = Presumed effect of Recycling on the environment</p>
        <a href="scroll/scrollcopy.html"><img style="margin-left: 100px;transform: rotate(270deg);z-index: 1000;top: 30px;position: relative;" alt="Arrow Down Icon" src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png"></a>
        </div>
</div>

  </body>


</html>
