<script src="p5.js"></script>
<script src="p5.sound.min.js"></script>
<link rel="stylesheet" href="scroll/css/style2.css" />
<meta charset="utf-8">
<html>
  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
  </head>

  <script src="bottlesketch1.js"></script>
  <body id="bodyejs">
    <div id="count">
      <h1 style="">1x Bottle = 100lb of Plastic</h1>
      <h1 style="margin-top: 17px;"> Annually you will produce roughly <span id="countText"></span> of plastic</h1>
      <br><h1 >Plastic Produced By Users:<br> <span id="myText"></span> lb</h1>
    </div>
    <div id="orange">
      <img src="bars2.svg">
    </div>
    <div id="sliderarrow">
      <a href="slider1.html"><img alt="Arrow Down Icon" src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png"></a>
    </div>

  </body>
</html>
